# Prerequisites
*.d

# Compiled Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk
*.map
*.exp

# Debugger Files
*.dSYM/
*.su
*.idb
*.pdb

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lo
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86
*.x86*
*.aarch*
*.mips*
*.ppc*
*.hex

# Kernel Module Compile Results
*.mod*
*.cmd

# debug information files
*.dwo
